.NavigationLink {
margin: 10px 0;
text-align: center;
width: 50%;
}

.NavigationLink a {
color: #0056b3;
text-decoration: none;
width: 100%;
}
.NavigationLink a:active,
.NavigationLink a.active {
color: red;
}
.NavigationLink a:hover {
color: darkgoldenrod;
}
